<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        .btn {
            width: 75px;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-left">
            <a th:href="@{/}">Employee Management System</a>
        </div>
        <div class="nav-right">
            <a th:href="@{|/profile|}">Profile</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </nav>
    <h1 style="text-align:center;">Employee Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Experience</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${data}">
                <td th:text="${m.id}">1</td>
                <td th:text="${m.name}">test</td>
                <td th:text="${m.designation}">tester</td>
                <td th:text="${m.salary}">nill</td>
                <td th:text="${m.exp}">-1</td>
                <td><button class="btn"><a th:href="@{|/manager/update?employee_id=${m.id}|}">Edit</a></button></td>
                <td><button class="btn"><a th:href="@{|/manager/delete?employee_id=${m.id}|}">Delete</a></button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
</body>

</html>